venv
.env
model
rough.ipynb
models
mlflow.db
mlruns
rough.py
rougher.py
test.py
cls
/datasets
runs
optimizing_cctv_model
optimizing_cctv_model_v2
Roboflow MobileNetSSDv2.ipynb
checkpoint/
ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/


